<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clawhub.minibooksearch.mapper.RecommendMapper">
  <resultMap id="BaseResultMap" type="com.clawhub.minibooksearch.entity.Recommend">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="book" jdbcType="VARCHAR" property="book" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <!--查询推荐榜单根据榜单类型和书籍类型-->
  <select id="searchRecommend" resultMap="BaseResultMap">
    SELECT *
    FROM t_recommend
    WHERE data_type = #{dataType} and channel = #{channel}
  </select>
</mapper>